WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
META_APP_ID=
META_APP_SECRET=
WHATSAPP_ACCESS_TOKEN=
AZURE_AI_API_KIND=
AZURE_AI_ENDPOINT=
AZURE_AI_API_KEY=
AZURE_AI_EMBEDDING_DEPLOYMENT=
AZURE_AI_MODEL=
AZURE_AI_API_VERSION=
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
SHAREPOINT_HOSTNAME=
SHAREPOINT_SITE_PATH=
SHAREPOINT_TENANT_ID=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
CALENDAR_USER_EMAIL=
REMINDER_WHATSAPP_NUMBER=
